<!DOCTYPE html>
<html>
  <head>
    <title>Special Style Factory - Import and export of genuine JDM automotive products</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Special Style Factory - Import and export of genuine JDM automotive products">
    <meta name="keywords" content="special style factory, special, style, factory, import, export, jdm, automotive, products, japanese, fromjapan, yahoo auctions, rare, items, s13, s14, s15, nissan, mazda, silvia, eunos, skyline, 180sx, 200sx, 240sx, roadster, r32, r33, r34, r35, gtr, mx5, miata, rx7, steering wheel, shiftknob, coilovers, clothing, jackets, bosozoku">
    <meta property="og:url" content="http://www.specialstylefactory.com/">
    <meta property="og:site_name" content="Special Style Factory">
    <meta property="og:image" content="<%= image_url 'ssf-logo.png' %>">
    <meta property="og:description" content="Special Style Factory - Import and export of genuine JDM automotive products">
    <meta property="og:type" content="website">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <div class="wrapper">
      <div class="inner-wrapper">
        <%= yield %>
      </div>
    </div>
    <canvas id="background"></canvas>

    <script>
      var granimInstance = new Granim({
        element: '#background',
        direction: 'diagonal',
        isPausedWhenNotInView: true,
        image : {
            source: '<%= image_url 'bg.jpg' %>',
            blendingMode: 'soft-light',
            position: ['center', 'center'],
            stretchMode: ['none', 'none']
        },
        states : {
            "default-state": {
                gradients: [
                    ['#f077c5', '#05d19c'],
                    ['#80d3fe', '#7ea0c4'],
                    ['#FF6B6B', '#556270'],
                    ['#80d3fe', '#7ea0c4']
                ],
                transitionSpeed: 7000
            }
        }
    });
    </script>
  </body>
</html>
